<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h1>Forms</h1>
    <form action="/autenticar" method="get">
        <label> Nome: </label>
        <input type="text" name="Nome"> <br>
        <label> Curso: </label>
        <input type="text" name="curso"> <br>
        <label> Cidade: </label>
        <input type="text" name="cidade"> <br>
        <button type="submit">Entrar</button>
    </form>
</body>
</html>