<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Contador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Contador de Acessos</h1>
        <div class="numero"> {{ contador }} </div>

        <form method="POST">
            <button type="submit" class="zerar"> Zerar </button>
        </form>

        <a href="/" class="voltar">
            Voltar
        </a>

    </div>

</body>
</html>